@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --black : #212529;
  --blue : #13A2E2;
  --gray : #3F3F3F;
  --white : #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--gray);
    font-family: 'Poppins', sans-serif;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
}

/*fonts*/
.reg-14{
  font-size: 0.875rem;
}

.lit-16{
  font-size: 1rem;
  font-weight: 300;
}

.bold-16{
  font-size: 1rem;
  font-weight: 700;
}

.bold-20{
  font-size: 1.25rem;
  font-weight: 700;
}

.bold-32{
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 90%;
  /* width: 80rem; */
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

/* color */
.color-blue{
  color: var(--blue);
}

.color-black{
  color: var(--black);
}

.color-white{
  color: var(--white);
}

.color-gray{
  color: var(--gray);
}

/* button */
.btn-1 {
    background-color: var(--blue);
    color: var(--white);
    padding: .5rem 1rem;
    cursor: pointer;
    border: 1px solid white;

}
.btn-1:hover{
  border: 1px solid var(--blue);
  transition: 0.3s;
}
.btn-2 {
  background-color: white;
  color: black;
  padding: .5rem 1rem;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  border: 1px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
}
.btn-2:hover{
  border: 1px solid var(--blue);
  transition: 0.3s;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}